h1 {color: #ff0000;}

a:link{color: #00ff00;}

a:visited{color: #0000ff;}

a:hover{color: #999999;}

/* hex color requires the pound sign */ 
/* psudeo selectors need a colon between selector and its state */

.oneoff:hover {
    color: #0238bf;
    background-color: #5d02bf;
}

/* you can use any selcector with psudeo selectors */

body {
    background-image: url(images/LI-Logo.png);
    background-color: #ebebda;
    background-size: 200px;
}
/* file path for background is from the css file */
/* dont forget the url and parathesis for background imaage */

p {
    background-color: #ffffff;
    /* to calculate width: width of box + padding x 2 + border x 2 + margin x 2 */
    /* for our box: 300 px + 40 px + 10 px + 100px = 450 pixels */
    width: 300px;
    padding: 20px;
    margin: 50p;
    border: 5px solid #000000;
    /* this is a combo property value, it's documented in css */
}