body {font-family: Verdana, Geneva, Tahoma, sans-serif;}

h1, h2 {color: #810000;}
body {background-color: #eeebdd;}
p {color: #1b1717;}

nav a {color: #810000;}
nav a:hover {background-color: #f05454;}
nav {padding: 10px;}
nav {margin-bottom: 30px}

.evenrow {background-color:darkgrey;}

h1 {font-size: 2em;}
h2 {font-size: 1.5;}